.letra2{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    position: absolute;
    top: 60%;
    left: 37%;
}

.discord{
    position:absolute;
    color: rgb(0, 0, 0);
    background: rgb(253, 253, 253);
    width: 99%;
    height: 80%;
    top: 88%;
    left: 0.5%;
}

.discord u{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 38%;
    top: 13%;
}

#foto-discord{
    position: absolute;
    top: 110%;
    left: 20%;
    border-radius: 5%;
}

#letra3{
    position: absolute;
    color: rgb(0, 0, 0);
    top: 103%;
    left: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

#letra4{
    position: relative;
    left: -6%;
}

/* css del boton */
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: absolute;
    padding: 10px;
    top: 150%;
    left: 23%;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position:absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }
/* fin del boton */

#efecto1{
  position: absolute;
  top: 40%;
  width: 100%;
}

.cuadro{
  background: rgb(74, 101, 221);
  position: absolute;
  width: 99%;
  left: 0.5%;
  height: 70%;
  top: 168%;
}

.cuadro p{
  position: absolute;
  left: 15%;
}

.cuadro2{
  position: absolute;
  background:turquoise;
  width: 8%;
  top: 168%;
  left: 15%;
  height: 70%;
}

.cuadro2 p{
  position: absolute;
  top: 30%;
}

.foto-doc{
  position: absolute;
  top: 190%;
  left: 9%;
}

.letra4{
  position: absolute;
  top: 187%;
  font-size: 22px;
  left: 40%;
  font-family: Arial, Helvetica, sans-serif;
}

.circulo{
  width: 150px;
  height: 150px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 175%;
  left: 80%;
  border-radius: 80px;
}

.cuadro3{
  position: absolute;
  background: red;
  width: 99%;
  left: 0.5%;
  height: 70%;
  top: 238%;
}

.cuadro3 p{
  position: absolute;
  z-index: -1;
}

.cuadro4{
  position: absolute;
  background:papayawhip;
  width: 30%;
  left: 0.5%;
  height: 70%;
  top: 238%;
}

.cuadro4 p{
  position: absolute;
  z-index: -1;
}

.video{
  position: absolute;
  top: 255%;
  left: 10%;
}

.letra5{
  position: absolute;
  top: 255%;
  font-size: 22px;
  left: 60%;
  font-family: Arial, Helvetica, sans-serif;
}

.cuadro5{
  position: absolute;
  background: rgb(96, 204, 223);
  width: 99%;
  left: 0.5%;
  height: 70%;
  top: 308%;
}

.blog-letra{
  position: absolute;
  top: 310%;
  left: 48%;
  font-family: Arial, Helvetica, sans-serif;
}

.yeshunator{
  font-family: Arial, Helvetica, sans-serif;
  background: aqua;
  position:absolute;
  color: rgb(245, 0, 0);
  top: 70%;
  left: 2%;
  border-radius: 12px;
}
